283. Move Zeroes/.vs/283. Move Zeroes/DesignTimeBuild/.dtbcache.v2
283. Move Zeroes/.vs/283. Move Zeroes/FileContentIndex/52cda995-d25f-4dc5-aa84-5a01e7354eff.vsidx
283. Move Zeroes/.vs/283. Move Zeroes/FileContentIndex/read.lock
283. Move Zeroes/.vs/283. Move Zeroes/v17/.suo
283. Move Zeroes/.vs/ProjectEvaluation/283. move zeroes.metadata.v5.2
283. Move Zeroes/.vs/ProjectEvaluation/283. move zeroes.projects.v5.2
/83. Remove Duplicates from Sorted List/obj
/83. Remove Duplicates from Sorted List/bin/Debug/net8.0
/83. Remove Duplicates from Sorted List/.vs/83. Remove Duplicates from Sorted List
/1. Two Sum/obj
/1. Two Sum/.vscode
/1. Two Sum/bin/Debug/net7.0
/242. Valid Anagram/.vs
/.vscode
83. Remove Duplicates from Sorted List/.vs/ProjectEvaluation/83. remove duplicates from sorted list.projects.v7.bin
83. Remove Duplicates from Sorted List/.vs/ProjectEvaluation/83. remove duplicates from sorted list.metadata.v7.bin
206. Reverse Linked List/obj/Debug/net8.0/refint/206. Reverse Linked List.dll
206. Reverse Linked List/obj/
206. Reverse Linked List/bin/
1929. Concatenation of Array/obj/Debug/net8.0/apphost.exe
1929. Concatenation of Array/obj/
1929. Concatenation of Array/.vs
1929. Concatenation of Array/bin
1920. Build Array from Permutation/obj/
1920. Build Array from Permutation/bin/
1920. Build Array from Permutation/.vs/
19. Remove Nth Node From End of List/.vs/
19. Remove Nth Node From End of List/bin/
19. Remove Nth Node From End of List/obj/19. Remove Nth Node From End of List.csproj.nuget.dgspec.json
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.genruntimeconfig.cache
19. Remove Nth Node From End of List/obj/Debug/net8.0/refint/19. Remove Nth Node From End of List.dll
19. Remove Nth Node From End of List/obj/Debug/net8.0/ref/19. Remove Nth Node From End of List.dll
19. Remove Nth Node From End of List/obj/Debug/net8.0/apphost.exe
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.sourcelink.json
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.pdb
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.AssemblyInfoInputs.cache
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.GlobalUsings.g.cs
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.GeneratedMSBuildEditorConfig.editorconfig
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.dll
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.csproj.FileListAbsolute.txt
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.csproj.CoreCompileInputs.cache
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.csproj.BuildWithSkipAnalyzers
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.assets.cache
19. Remove Nth Node From End of List/obj/Debug/net8.0/19. Remove Nth Node From End of List.AssemblyInfo.cs
19. Remove Nth Node From End of List/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
19. Remove Nth Node From End of List/obj/project.nuget.cache
19. Remove Nth Node From End of List/obj/project.assets.json
19. Remove Nth Node From End of List/obj/19. Remove Nth Node From End of List.csproj.nuget.g.targets
19. Remove Nth Node From End of List/obj/19. Remove Nth Node From End of List.csproj.nuget.g.props
1512. Number of Good Pairs/obj/1512. Number of Good Pairs.csproj.nuget.dgspec.json
1512. Number of Good Pairs/obj/
1512. Number of Good Pairs/bin/
1512. Number of Good Pairs/.vs/
/2011. Final Value of Variable After Performing Operations/.vs
/2011. Final Value of Variable After Performing Operations/bin/Debug/net8.0
/2011. Final Value of Variable After Performing Operations/obj
