283. Move Zeroes/.vs/283. Move Zeroes/DesignTimeBuild/.dtbcache.v2
283. Move Zeroes/.vs/283. Move Zeroes/FileContentIndex/52cda995-d25f-4dc5-aa84-5a01e7354eff.vsidx
283. Move Zeroes/.vs/283. Move Zeroes/FileContentIndex/read.lock
283. Move Zeroes/.vs/283. Move Zeroes/v17/.suo
283. Move Zeroes/.vs/ProjectEvaluation/283. move zeroes.metadata.v5.2
283. Move Zeroes/.vs/ProjectEvaluation/283. move zeroes.projects.v5.2
